.gpt3__cta {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   padding: 2rem;
   margin: 4rem;
   border-radius: 1rem;
   background: var(--gradient-bar);
}

.gpt3__cta-content p {
   color: #0e0e0e;
   font-family: var(--font-family);
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 30px;
}

.gpt3__cta-content h3 {
   color: #000;
   font-family: var(--font-family);
   font-size: 24px;
   font-weight: 800;
   line-height: 45px;
}

.gpt3__cta-buttton {
   display: flex;

   justify-content: center;
   align-items: center;
   margin-left: 2rem;
}

.gpt3__cta-buttton button {
   color: #fff;
   background: #000;
   font-family: var(--font-family);
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   border-radius: 40px;
   padding: 0.5rem 1rem;
   border: none;
   outline: none;
   cursor: pointer;
   min-width: 150px;
}

@media screen and (max-width: 650px) {
   .gpt3__cta {
      flex-direction: column;
   }

   .gpt3__cta-buttton {
      margin: 2rem 0 0;
   }
}

@media screen and (max-width: 650px) {
   .gpt3__cta {
      margin: 4rem 2rem;
   }

   .gpt3__cta-content h3 {
      font-size: 18px;
      line-height: 32px;
   }

   .gpt3__cta-buttton button {
      font-size: 14px;
      line-height: 28px;
   }
}
